@import './base.css';

#app {
  /*max-width: 1920px;*/
  margin: 0 0;
  padding: 0.2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    /*
    width: auto;
    */
/*    display: flex;
    place-items: center;*/
  }

 /* #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }*/
  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 .02rem;
  }

}


@media (max-width: 1023px) {
  body {
    padding: 0 0.2rem;
  }
  #app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0 .02rem;
  }
}





/*
  Place this in a global CSS file (e.g., src/assets/main.css)
  to fix the Bootstrap modal z-index issue.
*/

.modal {
  /* Ensure the modal itself is on top */
  z-index: 1056 !important;
}

.modal-open {
  /* Ensure the modal itself is on top */
  z-index: 1056 !important;
}.modal-dialog {
  /* Ensure the modal itself is on top */
  z-index: 1056 !important;
}

.modal-backdrop {
  /* Ensure the backdrop is behind the modal */
  z-index: 1019 !important;
}
